@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}

.banner{
    width: 80%;
    margin: 0 auto;
    background-image: url('./images/banner-image-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    padding-bottom: 100px;
    height: 595px;
    color: white;
    
    
    

}

.top-menu{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

.top-menu ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-right: 50px;
}

.social-icons{
    margin-left: 40px;
}

.social-icons i{
margin: 0 14px;
}

.bottom-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between ;
    align-items: center;
    margin-top:19px ;

}

.bottom-menu ul{
    list-style: none;
    display: flex;
    margin-right: 100px;
}
.bottom-menu ul li{
    margin: 0 10px;
}

.brand{
    font-size: 25px;
    color:#12a84e;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 320px;
    margin-left: 100px;

}

.brand img{
    width: 50px;
}

.short-info{
    margin-top: 97px;
    text-align: center;
    font-size: 45px;
    font-family: 'Akaya Kanadaka', cursive; 
}
.get-in-touch{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;

}
.home-blogs{
    color: #12a84e;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    width: max-content;
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #ffffff;
    
}

.home-blogs:hover{
    color: #ffffff;
    cursor: pointer;
    background-color: #12a84e;
}
/* blog 1  */

.blog1{
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    color: black;
    border:2px solid #12a84e;
    border-left:0px solid  #ffffff;
    
}

.blog1-content{
    width: 70%;
    margin-left: 20px;
    height: 350px;
}

.blog1-content ul{
display: flex;
list-style: none;
margin-top:20px ;
color: black;
}

.blog1-content ul li i{
    color: black;
}

.blog1-content ul li{
    color: black;
    font-size: 16px;
    
}

.blog1-content ul li:nth-child(2){
    margin-left: 16px;
}

.blog1-content ul li:nth-child(3){
    margin-left: 16px;
}

.blog1-content p{
    color: black;
    margin-top: 20px;
    font-size: 16px;
}

.blog1-content h1{
    color: #12a84e;
    font-size: 26px;
}
.blog1-img{
    width: 450px;
    height: 350px;
    
}
.blog1-img img{
    height: 100%;
    width: 100%;
}
.read-more{
color: black;
margin-top:26px ;
width: max-content;
color: #12a84e;
border: 2px solid #12a84e;
text-align: center;
padding: 10px;
font-size: 16px;
}

.read-more:hover{
    color: #ffffff;
    background-color: #12a84e;
    cursor: pointer;
}
/* blog 2 */

.blog2{
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    color: black;
    border:2px solid #12a84e;
    border-left:0px solid  #ffffff;
    
}

.blog2-content{
    width: 70%;
    margin-left: 20px;
    height: 350px;
}

.blog2-content ul{
display: flex;
list-style: none;
margin-top:20px ;
color: black;
}

.blog2-content ul li i{
    color: black;
}

.blog2-content ul li{
    color: black;
    font-size: 16px;
    
}

.blog2-content ul li:nth-child(2){
    margin-left: 16px;
}

.blog2-content ul li:nth-child(3){
    margin-left: 16px;
}

.blog2-content p{
    color: black;
    margin-top: 20px;
    font-size: 16px;
}

.blog2-content h1{
    color:black;
    font-size: 26px;
}
.blog2-img{
    width: 450px;
    height: 350px;
    
}
.blog2-img img{
    height: 100%;
    width: 100%;
}
.read-more2{
color: black;
margin-top:26px ;
width: max-content;
text-align: center;
padding: 10px;
font-size: 16px;
background: #12a84e;
color: #ffffff;
cursor: pointer;
}

.read-more2:hover{
    background-color: #ffffff;
    color: #12a84e;
    border: 2px solid #12a84e;
}


.opening-hours{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #12a84e;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 110px;
    width: 80%;
}

.days{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    width: max-content;
    justify-content: flex-start;

}

.days li{
    padding: 0 15px;
}

/* .days li{
margin-left: 20px;

} */

.days li:nth-child(n+1){
    border-right: 1px solid #ffffff;
}
.days li:nth-child(7){
    border-right: none;
}

.days li p:nth-child(2){
    margin-top: 20px;
}


/* bottom footer */

.bottom-footer{
    background-image: linear-gradient(-90deg, #000000 0%, #171717 50%, #000000 100%);
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 110px;
    padding-right: 0;
}

.left-bottom-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.left-bottom-footer ul{
    list-style: none;
}

.left-bottom-footer ul:nth-child(2){
    margin-left: 40px;
}
.left-bottom-footer ul p{
    color: #12a84e;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.left-bottom-footer ul li{
    margin-top: 10px;
    font-size: 16px;
}
.left-bottom-footer ul li i{
    margin-right: 10px;
    color: #12a84e;
}

.newsletter{
margin-right: 50px;
}
.newsletter p:nth-child(1){
    color: #12a84e;
    font-size: 24px;
    font-weight: bolder;
}

.newsletter p:nth-child(2){
    margin-top: 20px;
    width:340px;
}

.newsletter p input{
    background: #ffffff;
    font-size: 20px;
    border-style: none;
    border-radius: 0px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top:7px ;
    padding-bottom: 7px;
}

.newsletter div{
    background: #12a84e;
    width: max-content;
    margin-top: 18px;
    padding: 10px 81px;
    text-align: center;
    font-size: 16px
}





